<div class="container d-flex flex-column justify-content-center align-items-center h-100">

  <h2>Angular IMC</h2>
 <!--<span>{{user.name}}</span>-->
 <p>Perriode des saisies</p>
<span><a [routerLink]="['week']">Semaine </a> </span>
<span><a [routerLink]="['month']">Mois </a> </span>
<span><a [routerLink]="['trimester']">Trimetre </a></span>
  <button type="button"class="btn btn-primary">Saisir son poids </button>
  <button type="button" class="btn btn-primary" onclick="deconnexion()">Deconexion</button>
  <span>IMC actuel</span>

</div>
