 <div class="container m-4 p-4 d-flex flex-row justify-content-center">
  <div class="register">
    <form action="" [formGroup]="form">
      <h1>Inscription</h1>

      <div class="mb-3">
        <div>
        <label for="pseudo">Name:</label>
        <input type="text" formControlName="pseudo" />
        <div *ngIf="pseudo.invalid && pseudo.touched" class="text-danger">
          <div *ngIf="pseudo.errors?.['required']">
            <small>Ce champs est obligatoire</small>
          </div>
        </div>
        </div>

        <div>
          <label for="password">password</label>
          <input type="password" formControlName="password" />
          <div *ngIf="password.invalid && password.touched" class="text-danger">
            <div *ngIf="password.errors?.['required']">
              <small>Ce champs est obligatoire</small>
            </div>
          </div>
        </div>

        <div>
          <label for="old">Age</label>
          <input type="number" formControlName="old" />
          <div *ngIf="old.invalid && old.touched" class="text-danger">
            <small>Ce champs est obligatoire</small>
          </div>
        </div>

        <div>
          <label for="cut">Taille</label>
          <input type="number" formControlName="cut" />
          <div *ngIf="cut.invalid && cut.touched" class="text-danger">
            <small>Ce champs est obligatoire</small>
          </div>
        </div>
        <div *ngIf="cut.invalid" class="text-danger">
          <div *ngIf="cut.errors?.['min']">
           <small>veuillez saisir une taille comprit entre 80cm et 200cm</small>
      </div>


    </div>


        <div>
          <label for="weight">Poids</label>
          <input type="number" formControlName="weight" />
          <div *ngIf="weight.invalid && weight.touched" class="text-danger">
            <small>Ce champs est obligatoire</small>
          </div>
        </div>
        <div *ngIf="weight.invalid" class="text-danger">
          <div *ngIf="weight.errors?.['min']">
           <small>veuillez saisir un poid comprit entre 30 et 100kg</small>
      </div>
          <div *ngIf="weight.errors?.['max']">
           <small>veuillez saisir un poid comprit entre 30 et 100kg</small>
      </div>

    </div>

        <button type="submit" class="btn btn-primary btn-lg"[disabled]="!form.valid" (click)="reception($event)">
        <!--<a [routerLink]="['']">  Validation</a>-->
          Valider
        </button>

      </div>
    </form>
  </div>
</div>
